<style>
    .big_check {
        transform: scale(2);
        cursor: pointer;

    }

    #
    {{ tab_id }}
    tbody tr:hover {
        cursor: pointer;
    }
</style>
<div class="">
    <table id="{{ tab_id }}" class="{{ customClass }}  " style="width:100%">
        <thead>
        <tr class="">
            {% for item in cols %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    $.fn.dataTable.ext.errMode = 'none';
    let {{ tab_id }}_query = {};

    function get_ajax_data_table() {
        return {
            "url": "/client/data/table/{{ action_name }}?parent={{ parent }}",
            "type": "POST",
            data: function (args) {
                args['query'] = {{ tab_id }}_query;
                return JSON.stringify(args);
            },
            "headers": {
                'authtoken': '{{authtoken}}',
                'req_id': '{{req_id}}'
            },
        }
    }

    function get_column_defs() {
        var col_defs = {{ columnDefs|tojson|safe }};
        {% if select_chk %}
            var chk_o = {
                targets: 1,
                render: function (data, type, row) {
                    if (type === 'display') {
                        return '<input type="checkbox" class="filter-ck big_check" />';
                    }
                    return data;
                },
                className: "dt-body-center"
            };
            col_defs.push(chk_o)
        {% endif %}
        return col_defs;
    }

    let t = $('#{{ tab_id }}').DataTable({
        processing: true,
        serverSide: true,
        paging: true,
        searching: false,
        fixedHeader: true,
        columns:{{ columns|tojson|safe }},
        ajax: get_ajax_data_table(),
        {% if tab_responsive %}
            responsive: true,
        {% endif %}
        //select: true,
        //autoFill: true,
        language: {
            buttons: {
                pageLength: {
                    _: "Sel %d righe",
                    '-1': "Tutte"
                }
            }
        },
        lengthMenu: [
            [10, 20, 30, 50, -1],
            ['10', '20', '30', '50', 'Vedi Tutto']
        ],
        fixedColumns: {
            leftColumns: 2
        },
        pageLength: 30,
        {% if columnDefs %}
            columnDefs: get_column_defs(),
        {% endif %}
        {% if select_chk %}
            //select: {
            //    style: 'os',
            //    selector: 'td:first-child'
            //},
        {% endif %}
        {% if rowReorder and not  tab_responsive%}
            rowReorder: {
                dataSrc: '{{ rowReorder }}',
            },
        {% endif %}
        dom: '{{ dom_todo }}',
        initComplete: function () {
            console.log("table init complete");
        },
    });
    {% if  not  tab_responsive%}
        $(".view-container").on("scroll", syncScrollbar);
        function syncScrollbar(event) {
            setTimeout(function () {
                    t.fixedHeader.adjust();
                });
        }


    {% endif %}
    // TODO handle row reorder engine
    {% if rowReorder %}
        t.on('row-reorder', function (e, diff, edit) {
            let data_order = {};
            if (diff.length > 0) {
                let corr = 1;
                data_order["model_name"] = "{{ model }}";
                data_order['columns'] = [];
                diff.forEach(function (item) {
                    let data = t.row(item.node).data();
                    data_order.columns.push({
                        key: data.rec_name,
                        value: item.newPosition
                    });
                });

                $.ajax({
                    url: '/client/reorder/data/table',
                    data: JSON.stringify(data_order),
                    type: "POST",
                    dataType: "json",
                    async: true,
                    headers: {
                        'authtoken': '{{authtoken}}',
                        'req_id': '{{req_id}}'
                    },
                    success: function (json) {
                        console.log('success', json);
                        $('#{{ tab_id }}').DataTable().draw(false);
                    }
                });

                t.one('preDraw', function () {
                    console.log('preDraw');
                    return false;   // Cancel draw
                });
                t.one('draw', function () {
                    console.log('row-reordered draw');
                });
            }
        });
    {% endif %}

    {% if click_row %}
        $('#{{ tab_id }} tbody').on('click', 'td', function (e) {
            var check = $(e.target).hasClass("filter-ck");
            if (check) {
                var checkbox = $(e.target);
                var checked = checkbox.prop('checked');
                var row = checkbox.closest('tr');
                var data = t.row(row).data();

                //update the cell data with the checkbox state
                if (checked) {
                    data.check = 1;
                } else {
                    data.check = 0;
                }
            } else {
                $("#global_progress_loader").removeClass("d-none");
                $(document).unbind("click");
                {% if tab_responsive %}
                    var cell_clicked = t.row($(this).closest('tr')).data();
                    if (cell_clicked === undefined) {
                        var data = t.row($(this).children('ul').data('dtrIndex')).data();
                        open_form(data['{{ click_row["col"] }}']);
                    }

                {% else %}
                    var data = t.row($(this).closest('tr')).data();
                    open_form(data['{{ click_row["col"] }}']);

                {% endif %}
            }
        });
        function open_form(value) {
            {% if modal %}

                let obj = {"url": value};
                execute_ajax(
                    "POST", "/client/modal/action",
                    '{{ authtoken }}', '{{ req_id }}', obj, "global_progress_loader", "{{ model }}"
                );
            {% else %}
                window.location.href = value;
            {% endif %}
        }
    {% endif %}

    {% if full_width %}
        $('#{{ tab_id }}_wrapper').addClass("col-12");
        $('#{{ tab_id }}').css("width", "100%");
    {% endif %}

</script>
