<style>
    .big_check {
        transform: scale(1.2);
        cursor: pointer;
    }

    {{ tab_id|cssid }}
    tbody tr:hover {
        cursor: pointer;
    }
</style>
<div class="overflow-auto">
    <table id="{{ tab_id }}" class="{{ customClass }}  " style="width:100%">
        <thead>
        <tr class="">
            {% for item in cols %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    $.fn.dataTable.ext.errMode = 'none';
    let {{ tab_id }}_query = {};
    let {{ tab_id }}_query_from_fs = false;
    let {{ tab_id }}_url_action_copy = "{{ url_action_copy }}";
    let {{ tab_id }}_url_action_remove = "{{ url_action_remove }}";

    function get_ajax_data_table() {
        return {
            "url": "/client/data/table/{{ action_name }}?parent={{ parent }}",
            "type": "POST",
            data: function (args) {
                args['query'] = {{ tab_id }}_query;
                args['query_fs'] = {{ tab_id }}_query_from_fs;
                return JSON.stringify(args);
            },
            "headers": {
                'authtoken': '{{authtoken}}',
                'req_id': '{{req_id}}'
            },
        }
    }

    function get_column_defs() {
        let col_defs = {{ columnDefs|tojson|safe }};
        {% if select_chk %}
            let chk_o = {
                targets: 1,
                render: function (data, type, row) {
                    if (type === 'display') {
                        return '<input type="checkbox" class="filter-ck big_check" />';
                    }
                    return data;
                },
                className: "align-middle"
            };
            col_defs.push(chk_o)
        {% endif %}
        {% if url_action_copy %}

            let {{ tab_id }}_chk_c = {
                targets: {% if url_action_remove %}
                        -2 {%  else %} - 1 {% endif %},
                render: function (data, type, row) {
                    if (type === 'display') {
                        return '<button class="btn-xs btn-outline-dark" name="{{ tab_id }}_copy"> <svg class="icon icon-xs"><use href="/static/svg/sprite.svg#it-copy"></use></svg></button>';
                    }
                    return data;
                },
                className: "align-middle"
            };
            col_defs.push({{ tab_id }}_chk_c)
        {% endif %}
        {% if url_action_remove %}
            let {{ tab_id }}_chk_d = {
                targets: -1,
                render: function (data, type, row) {
                    if (type === 'display') {
                        return '<button class="btn-xs btn-outline-dark bg-danger" name="{{ tab_id }}_remove"> <svg class="icon icon-xs"><use href="/static/svg/sprite.svg#it-delete"></use></svg></button>';
                    }
                    return data;
                },
                className: "align-middle"
            };
            col_defs.push({{ tab_id }}_chk_d)
        {% endif %}
        return col_defs;
    }

    $('#{{ tab_id }}').DataTable({
        processing: true,
        serverSide: true,
        paging: true,
        searching: false,
        fixedHeader: true,
        columns:{{ columns|tojson|safe }},
        ajax: get_ajax_data_table(),
        {% if tab_responsive %}
            responsive: true,
        {% endif %}
        //select: true,
        //autoFill: true,
        language: {
            buttons: {
                pageLength: {
                    _: "Sel %d righe",
                    '-1': "Tutte"
                }
            }
        },
        lengthMenu: [
            [10, 20, 30, 50, -1],
            ['10', '20', '30', '50', 'Vedi Tutto']
        ],
        // fixedColumns: {
        //     leftColumns: 2
        // },
        scrollX: false,
        pageLength: 30,
        {% if columnDefs %}
            columnDefs: get_column_defs(),
        {% endif %}
        {% if select_chk %}
            //select: {
            //    style: 'os',
            //    selector: 'td:first-child'
            //},
        {% endif %}
        {% if rowReorder and not  tab_responsive%}
            rowReorder: {
                dataSrc: '{{ rowReorder }}',
            },
        {% endif %}
        {% if order %}
            order:{{ order|tojson|safe }},
        {% endif %}
        dom: '{{ dom_todo }}',
        initComplete: function () {
            console.log("table init complete");
        },
    });
    {% if  not  tab_responsive%}
        $(".view-container").on("scroll", syncScrollbar);
        function syncScrollbar(event) {
            setTimeout(function () {
                $('#{{ tab_id }}').DataTable().fixedHeader.adjust();
            });
        }


    {% endif %}
    // TODO handle row reorder engine
    {% if rowReorder %}
        $('#{{ tab_id }}').DataTable().on('row-reorder', function (e, diff, edit) {
            let data_order = {};
            if (diff.length > 0) {
                let corr = 1;
                data_order["model_name"] = "{{ model }}";
                data_order['columns'] = [];
                diff.forEach(function (item) {
                    let data = $('#{{ tab_id }}').DataTable().row(item.node).data();
                    data_order.columns.push({
                        key: data.rec_name,
                        value: item.newPosition
                    });
                });

                $.ajax({
                    url: '/client/reorder/data/table',
                    data: JSON.stringify(data_order),
                    type: "POST",
                    dataType: "json",
                    async: true,
                    headers: {
                        {% if security_headers %}
                            {% for k,v in security_headers.items() %}
                                "{{ k }}": "{{ v }}",
                            {% endfor %}
                        {% endif %}
                    },
                    success: function (json) {
                        console.log('success', json);
                        $('#{{ tab_id }}').DataTable().draw(false);
                    }
                });

                $('#{{ tab_id }}').DataTable().one('preDraw', function () {
                    console.log('preDraw');
                    return false;   // Cancel draw
                });
                $('#{{ tab_id }}').DataTable().one('draw', function () {
                    console.log('row-reordered draw');
                });
            }
        });
    {% endif %}
    {% if url_action_copy or  url_action_remove %}
        $('#{{ tab_id }} tbody').on('click', 'button', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(document).unbind("click");

            let data = $('#{{ tab_id }}').DataTable().row(e.target.closest('tr')).data();
            {#alert(data[0] + "'s copy is: " + data[5]);#}
            {% if url_action_copy %}
                if (e.currentTarget.name === "{{ tab_id }}_copy") {
                    {{ tab_id }}_copy_form(data.rec_name);
                }
            {% endif %}
            {% if url_action_remove %}
                if (e.currentTarget.name === "{{ tab_id }}_remove") {
                    {{ tab_id }}_remove_form(data.rec_name);
                }
            {% endif %}

        });
    {% endif %}
    {% if url_action_copy %}
        function {{ tab_id }}_copy_form(value) {
            {% if modal %}

                let obj = {
                    "url": {{ tab_id }}_url_action_copy + "/" + value,
                    "action": "copy",
                    "model": "{{ model }}",
                    "rec_name": value,
                };
                execute_ajax(
                    "POST", "/client/modal/action", obj, "global_progress_loader", "{{ model }}"
                );
            {% else %}
                window.location.href = value;
            {% endif %}
        }
    {% endif %}
    {% if url_action_remove %}
        function {{ tab_id }}_remove_form(value) {
            {% if modal %}
                let obj = {
                    "url": {{ tab_id }}_url_action_remove + "/" + value,
                    "action": "remove",
                    "model": "{{ model }}",
                    "rec_name": value,
                };
                execute_ajax(
                    "POST", "/client/modal/action", obj, "global_progress_loader", "{{ model }}"
                );
            {% else %}
                window.location.href = value;
            {% endif %}
        }
    {% endif %}
    {% if click_row %}
        $('#{{ tab_id }} tbody').on('click', 'td', function (e) {
            let check = $(e.target).hasClass("filter-ck");
            if (check) {
                let checkbox = $(e.target);
                let checked = checkbox.prop('checked');
                let row = checkbox.closest('tr');
                let data = $('#{{ tab_id }}').DataTable().row(row).data();

                //update the cell data with the checkbox state
                if (checked) {
                    data.check = 1;
                } else {
                    data.check = 0;
                }
            } // FIX for table mobile view button expand
            else if ($(e.target).hasClass("dtr-control")) {
                return;

            } else {
                $("#global_progress_loader").removeClass("d-none");
                $(document).unbind("click");
                {% if tab_responsive %}
                    let cell_clicked = $('#{{ tab_id }}').DataTable().row($(this).closest('tr')).data();
                    if (cell_clicked === undefined) {
                        let data = $('#{{ tab_id }}').DataTable().row($(this).children('ul').data('dtrIndex')).data();
                        {{ tab_id }}_open_form(data['{{ click_row["col"] }}']);
                    }

                {% else %}
                    let data = $('#{{ tab_id }}').DataTable().row($(this).closest('tr')).data();
                    {{ tab_id }}_open_form(data['{{ click_row["col"] }}']);

                {% endif %}
            }
        });
        function {{ tab_id }}_open_form(value) {
            {% if modal %}

                let obj = {"url": value};
                execute_ajax(
                    "POST", "/client/modal/action", obj, "global_progress_loader", "{{ model }}"
                );
            {% else %}
                window.location.href = value;
            {% endif %}
        }
    {% endif %}

    {% if full_width %}
        $('#{{ tab_id }}_wrapper').addClass("col-12");
        $('#{{ tab_id }}').css("width", "100%");
    {% endif %}

</script>
