<div class=" mt-n4 {% if not disabled and not readonly %} mb-5 {% endif %}">
    {% if readonly or disabled %}
        <label class="">
            <span>Allegati {{ label }}</span>
        </label>
    {% endif %}
    <div class="form-row">

        <ul id="{{ key }}_list_exist" class="upload-file-list">
            {% if value %}
                {% for item in value %}
                    <li id="{{ item['key'] }}" class="upload-file success pl-3">
                        <svg class="icon icon-sm" aria-hidden="true">
                            <use href="/static/svg/sprite.svg#it-file"></use>
                        </svg>
                        <a href="/client/attachment{{ item['url'] }}">
                            <span class="sr-only">Scarica {{ item['filename'] }}</span> {{ item['filename'] }}
                        </a>
                        {% if not disabled and not readonly %}
                            <button id="remove_{{ item['key'] }}" class="remove_file" data-url="{{ item['url'] }}"
                                    data-id="{{ item['key'] }}" data-filename="{{ item['filename'] }}"
                                    data-file_path="{{ item['file_path'] }}"

                            >
                                <span class="sr-only">Metti nel cestino {{ item['file_name'] }} </span>
                                <svg class="icon icon-sm icon-danger" aria-hidden="true">
                                    <use href="/static/svg/sprite.svg#it-delete"></use>
                                </svg>
                            </button>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="col {% if readonly or disabled %} d-none {% endif %} ">
        <input type="file" name="{{ key }}_in" id="{{ key }}_in"
               class="upload form-group text-center {{ customClass }} "
                {% if filePattern %} accept="{{ filePattern }}" {% endif %}
                {% if required and not value %} required {% endif %}

        />

        <label for="{{ key }}_in" class="">
            <svg class="icon icon-sm" aria-hidden="true">
                <use href="/static/svg/sprite.svg#it-upload"></use>
            </svg>
            <span>{{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</span>
        </label>

    </div>
    <ul id="{{ key }}_list" class="upload-file-list mt-2 {% if readonly %} d-none {% endif %}"></ul>
    <script>

        {% if not disabled or not readonly%}
            const Item = ({key, i, url, file_name}) => `
    <li id="${key}_${i}" class="upload-file primary">
        <svg class="icon icon-sm" aria-hidden="true">
            <use href="/static/svg/sprite.svg#it-file"></use>
        </svg>
        <a >
        <span class="sr-only">File caricato: ${file_name}</span> ${file_name}
        </a>
      <button disabled>
        <span class="sr-only">In attesa di upload</span>
        <svg class="icon icon-sm" aria-hidden="true"><use href="/static/svg/sprite.svg#it-exchange-circle"></use></svg>
      </button>
    </li>`;

            function listFiles() {
                let input = $("#{{ key }}_in")[0];
                let list_container = $("#{{ key }}_list");
                list_container.empty();
                let data = [];
                for (let i = 0; i < input.files.length; i++) {
                    data.push(
                        {
                            "key": "{{ key }}_" + i,
                            "i": i,
                            "url": "#",
                            "file_name": input.files[i].name
                        }
                    );
                }
                if (data.length > 0) {
                    $("#{{ key }}_list").html(
                        data.map(Item).join('')
                    );
                }

            }

            $("#{{ key }}_in").on("change", function (e) {
                e.preventDefault();
                e.stopPropagation();
                listFiles();
            });
        {% endif %}
        {% if rec_name and not disabled or not readonly %}
            $(".remove_file").on("click", function (e) {
                e.preventDefault();
                let button = $(this)
                let url = button.data('url');
                let obj = {
                    "field": "{{ key }}",
                    "key": button.data('id'),
                    "filename": button.data('filename'),
                    "file_path": button.data('file_path')
                }
                execute_ajax(
                    "POST", "/client/attachment/trash/{{ model }}/{{  rec_name }}",
                    obj, "global_progress_loader", "{{ model }}"
                );
            });
        {% endif %}


    </script>
</div>

