APP_CODE=""
ADMIN_PASSWORD=""
ADMIN_USERNAME=""
STACK=""
API_USER_KEY=""
MONGO_DB=""
MONGO_PASS=""
MONGO_REPLICA=""
MONGO_URL="database:27017"
MONGO_USER=""
TZ="Europe/Rome"
REQUIREMENTS="requirements.sh"