postgres-data
.DS_Store
script/automation/etc/*
script/automation/etc/.
!script/automation/etc/template_for_service
__pycache__
*.csv
*.pyc
venv
env
key.json
jwt_setting.json
.idea
.env
.env-test
.env-client
.env-cli
.env-cli-test
libs
oldmdbdata
mdbdata
mdb_data
scripts
backend/inrim
backend/ozon/base/data/user.json
web-client/inrim
!backend/ozon/plugins/plugin.txt
uploads
web-client/core/themes/italia/templates/components/custom/*
!web-client/core/themes/italia/templates/components/custom/README.md
web-client/core/themes/italia/templates/custom/*
!web-client/core/themes/italia/templates/custom/README.md
web-client/core/themes/italia/static/custom/*
!web-client/core/themes/italia/static/custom/README.md
automations/modules/main-scheduler/log/run_task.log
automations/modules/calendar-task/logs/*.log
requirements_backend.sh
requirements_webclient.sh
system/
sys/