postgres-data
.DS_Store
script/automation/etc/*
script/automation/etc/.
!script/automation/etc/template_for_service
__pycache__
*.csv
*.pyc
venv
env
key.json
jwt_setting.json
.idea
.env
.env-test
libs
mdbdata
service-app
data_src