aiofiles
aiopath
aiosmtplib
anyio>=3.3.1
async-timeout
attrs
bcrypt
blinker
caio
certifi
cffi
charset-normalizer
click>=7.1.2
cryptography
dnspython>=1.16.0
ecdsa>=0.17.0
email-validator
fastapi
fastapi-mail>=1.2.2
formio-data @ git+https://github.com/archetipo/python-formio-data.git@e435e1aa3a52d8363f1d43715a25ef227cf96bd1
frozendict>=2.0.6
h11
httptools
httpx>=0.21.1
idna>=3.2
inflection>=0.5.1
iniconfig
Jinja2
json-logic-qubit>=0.9.1
motor
pandas
passlib
pdfkit
pluggy
py
pyasn1
pyasn1-modules
pycparser
pydantic
pyparsing
python-dateutil
python-dotenv
python-jose>
python-ldap
python-multipart
python-slugify
pytz>=2021.1
PyYAML>=5.3.1
rsa>=4.7.2
text-unidecode
tinycss2
toml
typing-extensions
ujson
urllib3
uvloop
watchgod
webencodings
XlsxWriter
uvicorn[standard]
gunicorn
python-on-whales
aiologger
redis
fsspec
git+https://github.com/archetipo/camunda-external-task-client-python3.git@master
aioclamd
