aiofiles
aiopath
anyio>=3.3.1
bcrypt
blinker
certifi
cffi
click>=7.1.2
cryptography
ecdsa>=0.17.0
email-validator
fastapi
fastapi-mail>=1.2.2
formio-data @ git+https://github.com/archetipo/python-formio-data.git@e435e1aa3a52d8363f1d43715a25ef227cf96bd1
frozendict>=2.0.6
h11
httptools
httpx
idna>=3.2
inflection>=0.5.1
iniconfig
Jinja2
json-logic-qubit>=0.9.1
motor
pandas
passlib
pdfkit
pyasn1
pyasn1-modules
pydantic>1.10.2, <2.0
python-dateutil
python-dotenv
python-jose
python-ldap>=3.4.3
python-multipart
pytz
PyYAML
rsa
toml
typing-extensions
ujson
uvloop
XlsxWriter
uvicorn[standard]
gunicorn
# python-on-whales
# aiologger
redis
git+https://github.com/archetipo/camunda-external-task-client-python3.git@master
aioclamd
uvloop