frozendict
requests
inflection
urllib3
python-dateutil
pydantic
fastapi
ujson
motor
pytz
pandas
pymongo
ODMantic
python-slugify
python-multipart
httpx
pymongo[srv]
dnspython
httpx
jinja2
aiofiles
XlsxWriter
html2docx
aiopath
python-jose[cryptography]
passlib[bcrypt]
python-ldap
fastapi-mail
git+https://github.com/nadirizr/json-logic-py.git@master
git+https://github.com/archetipo/python-formio-data.git@component_for_jinja2
git+https://github.com/INRIM/python-pdfkit-async.git@master
# dev
pytest


