<div class="form-group {% if hidden %} d-none {% endif %} {{ customClass }}"
     id="{{ key }}">
    <div class="input-group">
        <input type="text"
               class="form-control {% if case %} text-{{ case }} {% endif %} "
               autocomplete="off"
               value="{% if value %}{{ value | safe }}{% endif %}"
               id="{{ key }}_in"
               name="{{ key }}_in"
                {% if size %} maxlength="{{ size }}" {% endif %}
                {% if placeholder %}
               placeholder="{{ placeholder }}" {% endif %}
                {% if accept %} accept="audio/*;" capture {% endif %}
                {% if required %} required {% endif %}
                {% if readonly %} readonly {% endif %}
                {% if disabled %} disabled {% endif %}
                {% if inputMask %}
                    {% if inputMask in ['mac', 'ip', 'date', 'euro', 'numericit', 'sci', 'mail', 'currency', 'euroComplex', 'numeric', 'url'] %}
               data-inputmask="'alias': '{{ inputMask }}'"
               data-inputmask-clearincomplete="true"
                    {% else %}
               data-inputmask="'mask': '{{ inputMask }}'"
               data-inputmask-clearincomplete="true"
                    {% endif %}
                {% endif %}
        >

        {% if label %}
            <label for="{{ key }}_in">{{ label }}{% if required %}
                <span class="h5 text-danger">*</span>{% endif %}</label>
        {% endif %}

        {% if is_url %}
            <div class="input-group-append">
                <a href="{{ value }}"
                   class="text-decoration-none {% if hidden %} d-none {% endif %}"
                        {% if target %} target="{{ target }}" {% else %}
                   target="_blank"  {% endif %} >
                    <svg class="icon">
                        <use href="/static/svg/sprite.svg#it-external-link"></use>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
    {% if desc %}
        <small class="form-text text-muted">{{ desc | safe }}</small>
    {% endif %}

</div>
<div class="z-index-1">
    <ul class="list-group mt-n4 mb-4" style="max-height: 120px; overflow-y: auto;" id="results_{{ key }}"></ul>
</div>
<script>
    {% if inputMask %}
        $(document).ready(function () {
            $('#{{ key }}_in').inputmask();
        });
    {% endif %}
    {% if search_table  %}
        let keys_{{ key }} = "{{ search_fields }}";
        let originalQuery_{{ key }} = false;
        let valore_{{ key }} = localStorage.getItem('{{ key }}_in');

        function appendToAnd(queryp, chiavi, valore) {
            let query = JSON.parse(JSON.stringify(queryp));
            if (!query.$and) {
                query.$and = [];
            }

            let chiaviArray = chiavi.split(",");
            let orItem = {$or: []};

            chiaviArray.forEach(function (chiave) {
                let item = {};
                item[chiave.trim()] = {$regex: valore, $options: "i"};
                orItem.$or.push(item);
            });

            query.$and.push(orItem);
            return query;
        }

        $(document).ready(function () {
            $('#{{ key }}_in').on('input', function (e) {
                if (originalQuery_{{ key }} === false) {
                    console.log("aggiorno original");
                    originalQuery_{{ key }} = JSON.parse(JSON.stringify({{ search_table }}_query));
                }
                localStorage.setItem('{{ key }}_in', this.value);
                let search_table_query = {...originalQuery_{{ key }}};
                e.preventDefault();
                console.log("search " + this.value + " originalQuery:" + JSON.stringify(originalQuery_{{ key }}));
                if (this.value.trim() === "") {
                    {{ search_table }}_query = search_table_query;
                } else {
                    {{ search_table }}_query = appendToAnd(search_table_query, keys_{{ key }}, this.value);
                }
                $('#{{ search_table }}').DataTable().search(this.value).draw(false);
            });

            if (valore_{{ key }} !== null) {
                // Il valore esiste, quindi puoi usarlo
                $('#{{ key }}_in').val(valore_{{ key }}); // Usa .val() per impostare il valore
                $('#{{ key }}_in').trigger("input");
            }
        });
    {% elif geonames and country %}
        $(document).ready(function () {
            let data = [];
            let lastQuery = "";

            function fetchData(query) {
                $.ajax({
                    url: `{{ geonames }}?country={{ country }}&posta_code=${query}`,
                    method: "GET",
                    dataType: "json",
                    success: function (response) {
                        if (response.length > 0) {
                            data = response;
                            renderList(query);
                        }
                    },
                    error: function () {
                        console.error("Errore nel recupero dei dati");
                    }
                });
            }

            function renderList(filter = "") {
                const filteredData = data.filter(item =>
                    (`${item.postal_code}, ${item.place_name}, ${item.county_code}`
                        .toLowerCase().includes(filter.toLowerCase()))
                );

                $("#results_{{ key }}").empty();
                filteredData.forEach(item => {
                    $("#results_{{ key }}").append(
                        `<li class="list-group-item list-group-item-action"
                            data-values="${JSON.stringify([item.place_name.trim(), item.county_name.trim(), item.codice_belfiore?.trim()])
                            .replace(/"/g, '&quot;')  // Escape per doppi apici
                            .replace(/'/g, '&#39;')  // Escape per apici singoli
                            }">
               ${item.place_name}, ${item.county_code}
        </li>`
                    );
                });
            }

            $("#{{ key }}_in").on("input", function () {
                const query = $(this).val().trim();
                $("#results_{{ key }}").empty();

                if (query !== lastQuery) {
                    lastQuery = query;
                    fetchData(query);
                } else {
                    renderList(query);
                }
            });
            {%  if update_fields  %}
                $("#results_{{ key }}").on("click", "li", function () {
                    console.log("Elemento <li> cliccato");
                    let values = JSON.parse($(this).attr("data-values"));
                    console.log($(this).attr("data-values"))
                    {% for idx, value in update_fields.split(',') | enumerate  %}
                        $("#{{ value.strip() }}_in").val(values["{{ idx }}"]);
                    {% endfor %}
                     $("#results_{{ key }}").empty();
                });
            {% endif %}
        });

    {% endif %}
</script>