
<div class="form-group {% if hidden %} d-none {% endif %} {{customClass}}" id="{{ key }}">
    <input type="password" class="form-control  input-password" aria-labelledby="infoPassword"
           value="{{value}}"
           id="{{ key }}_in"
           name="{{ key }}_in"
           {% if required %} required {% endif %}
           {% if readonly %} readonly {% endif %}>
    <span class="password-icon" aria-hidden="true">
        <svg class="password-icon-invisible icon icon-sm d-none"><use
                xlink:href="/static/svg/sprite.svg#it-password-invisible"></use></svg>
      <svg class="password-icon-visible icon icon-sm"><use
              xlink:href="/static/svg/sprite.svg#it-password-visible"></use></svg>

    </span>
    {% if desc %}
    <small class="form-text text-muted">{{desc | safe}}</small>
    {% endif %}
    <label for="{{ key }}_in">{{label}}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</label>
</div>
