<div class="form-group {% if hidden %} d-none {% endif %} {{ customClass }}" id="{{ key }}">
    <input type="number" class="form-control"
           value="{{value}}"
           id="{{ key }}_in"
           name="{{ key }}_in"
           {% if required %} required {% endif %}
           {% if readonly %} readonly {% endif %}
           {% if disabled %} disabled {% endif %}>
    {% if desc %}
    <small class="form-text text-muted">{{desc}}</small>
    {% endif %}
    <label for="{{ key }}_in">{{label}}</label>
</div>
