
<div class="form-group {{customClass}}" id="{{ key }}">
    <input type="number" class="form-control"
           value="{{value}}"
           id="{{ key }}_in"
           name="{{ key }}_in"
           {% if accept %} accept="audio/*;" capture {% endif %}
           {% if required %} required {% endif %}
           {% if is_readonly %} readonly {% endif %}
           {% if disabled %} disabled {% endif %}>
    {% if desc %}
    <small class="form-text text-muted">{{desc}}</small>
    {% endif %}
    <label for="{{ key }}_in">{{label}}</label>
</div>
