<div class="form-group {% if hidden %} d-none {% endif %} {{ customClass }}"
     id="{{ key }}">
    {% if html %}
        <div id="{{ key }}_in"
                {% if is_readonly %}
             readonly
             {% else %}}
             contenteditable="true"
                {% endif %}
                {% if disabled %} disabled {% endif %}
                {% if readonly %} readonly {% endif %}
        >{{ html|safe }}</div>
    {% else %}
        <textarea id="{{ key }}_in" name="{{ key }}_in"
                {% if disabled %} disabled {% endif %}
                {% if readonly %} readonly {% endif %}
                {% if required %} required {% endif %}
        >{{ value|safe }}</textarea>
        <span class="sr-only">{{ value }}</span>
        <label for="{{ key }}_in">{{ label }}{% if required %}
            <span class="h5 text-danger">*</span>{% endif %}</label>
        <span class="sr-only">{{ label }}</span>
    {% endif %}
    {% if desc %}
        <small class="form-text text-muted">{{ desc | safe }}<span
                class="sr-only">{{ desc }}</span></small>

    {% endif %}

</div>

<script>
    $("#{{ key }}_in").each(function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + "px";
    });
</script>
