
{% extends "/italia/templates/_base.html" %}
{% block content %}
    {% include '/italia/templates/components/page_layout/app_actions.html' %}
    <div class="container-fluid px-3">

        <div class="col-12 p-0">
            {% if beforerows %}
                {% for item in beforerows %}
                    {{ item|safe }}
                {% endfor %}
            {% endif %}
            <div class="it-hero-card it-hero-bottom-overlapping shadow mb-5 pb-1">
                <div class="row">
                    <h4 class="col-12 {{ customClass_title or 'text-center' }}">{{ title }}</h4>
                    <div id="alert_container" class="col-6"></div>
                </div>
                {% for item in rows %}
                    {{ item|safe }}
                {% endfor %}
            </div>
            {% if afterrrows %}
                {% for item in afterrrows %}
                    {{ item|safe }}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}