<style>
    .ozon-progress {
        height: 2px;
        background-color: #ede7f6;
    }

    .ozon-progress .progress-bar {
        background-color: #673ab7;
    }
</style>
<div class="container">
    <div class="it-hero-card it-hero-bottom-overlapping shadow mb-5 pb-1">

        <div class="col-12 p-0 d-none" id="progress_loader">
            <div class="progress progress-indeterminate ozon-progress">
                <span class="sr-only">In elaborazione...</span>
                <div class="progress-bar" role="progressbar"></div>
            </div>
        </div>

        {% if title %}
            <h5 class="card-title py-3 {{ cls_title }}">{{ title }}</h5>
        {% endif %}

        <form method="post" action="{{ api_action }}" enctype="multipart/form-data" class="col-12 {{ customClass }}"
              id="{{ model }}">
            <div id="{{ model }}_alert" class=" {{ customClass }}"></div>
            {% for component in items %}
                {{ component.render(log=False)|safe }}
            {% endfor %}
            <div class="form-group text-center" id="btn_actions">
                {% if label %}
                    <button id="btn_submit" type="submit" name="form_app_form_btn" class="btn btn-outline-primary"
                            {% if disabled %} disabled {% endif %}
                    >
                        {{ label }}
                    </button>
                {% endif %}
                {% if not no_cancel %}
                    <button type="button" class="btn btn-outline-primary go-back ml-2">
                        Abbandona
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% if not excludejs %}
    <script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
        window.addEventListener("pageshow", function (event) {
            var historyPage = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
            if (historyPage) {
// Handle page restore.
                window.location.reload();
            }
        });
        {% if  handle_global_change %}
            function {{ model }}_eval_change(elm) {
                if (!$(elm).data("no_change") && elm.id) {
                    var obj = jsonForm("{{ model }}");
                    var key = "";
                    if (elm) {
                        key = clean_key_id(elm.id)
                    }
                    if (obj) {
                        execute_ajax(
                            "POST", "/client/change/{{ model }}/{{  rec_name }}?field=" + key,
                            obj, "global_progress_loader", "{{ model }}"
                        );

                    }
                }
            }
        {% endif %}

        $(document).ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })


            $("#{{ model }}").submit(function (e) {
                e.preventDefault(); // save data
                inputfiles = $("input:file");
                if ($("#{{ model }}").valid()) {
                    var obj = dataForm("{{ model }}", inputfiles);
                    execute_ajax(
                        "POST", "{{ api_action }}", obj, "global_progress_loader", "{{ model }}", true
                    );
                }
            });


            //handle_global_change
            {% if  handle_global_change %}
                // $(document).on('change', "#{{ model }} select, textarea, input", function (e){
                $(document).on('change', "#{{ model }} select, input:checkbox, input:radio ", function (e) {
                    {{ model }}_eval_change(this);
                });
            {% endif %}

            {% for btn in action_buttons %}
                {% if  btn['action_type'] == "DELETE" %}
                    $("#{{ btn['id'] }}").on('click', function (e) {
                        e.preventDefault();
                        execute_ajax(
                            "DELETE", "{{ btn['url_action'] }}", false, "global_progress_loader", "{{ model }}");
                    });
                {% else %}
                    $("#{{ btn['id'] }}").on('click', function (e) {
                        e.preventDefault();
                        let obj = jsonForm("{{ rec_name }}");
                        execute_ajax(
                            "{{ btn['action_type'] }}", "{{ btn['url_action'] }}", obj, "global_progress_loader", "{{ model }}");
                    });
                {% endif %}
            {% endfor %}
        });
    </script>
{% endif %}
{% block js %}
{% endblock %}

