
<style>
    .is-open {
        display: block;
        z-index: 1070;
    }
</style>
{% if is_date %}
    <div class="it-datepicker-wrapper border border-dark {{ customClass }}" id="{{ key }}">

        <div class="form-group col-lg-3">
            <input class="form-control it-date-datepicker"
                   id="{{ key }}-date_in" name="{{ key }}-date_in" value="{{ value_date }}"
                   type="text"
                   placeholder="{{ client_format }}"
                    {% if required_from %} required {% endif %}
                    {% if disabled %} disabled {% endif %}
            >
            <label for="{{ key }}-date_in">{{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</label>
            <span class="sr-only">Data {{ label|safe }}</span>

        </div>


    </div>
{% endif %}
{% if is_time %}

    <div class="it-timepicker-wrapper">
        <section class="time-spinner">
            <div class="error_container" role="alert" aria-atomic="true"></div>
            <fieldset>
                <legend><span class="sr-only">Ora {{ label }}</span></legend>
                <div>
                    <div class="calendar-input-container">
                        <div class="form-group">
                            <input class="form-control txtTime" id="{{ key }}-time_in" name="{{ key }}-time_in"
                                   type="text"
                                   placeholder="hh:mm" value="{{ value_time }}">
                            <label for="{{ key }}-time_in">{{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</label>
                            <button class="btn-time" id="btn-{{ key }}-time_in" type="button">
                                <svg class="icon">
                                    <use href="/static/svg/sprite.svg#it-clock"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="spinner-control zindex-tooltip" aria-hidden="true" role="region" tabindex="-1">
                <div class="spinner-hour spinner">
                    <input class="spinnerHour form-control" id="spinnerh" aria-label="hour" type="number"
                           role="spinbutton" maxlength="2" aria-valuenow="{{ value_time_H }}" aria-valuemax="23"
                           aria-valuemin="0"
                           bb-skip="3" value="{{ value_time_H }}">
                    <div class="button-wrapper">
                        <button class="button-hour btnHourUp" id="iduph" aria-label="Increase Hour" type="button">
                            <span class="icon-up"></span>
                        </button>
                        <button class="button-hour btnHourDown" id="iddownh" aria-label="Decrease Hour"
                                type="button">
                            <span class="icon-down"></span>
                        </button>
                    </div>
                </div>
                <div class="spinner-min spinner">
                    <input class="spinnerMin form-control" id="spinnerm" aria-label="minute" type="number"
                           role="spinbutton" aria-valuenow="{{ value_time_M }}" maxlength="2" aria-valuemax="59"
                           aria-valuemin="00" bb-skip="10" value="{{ value_time_M }}">
                    <div class="button-wrapper">
                        <button class="btnMinUp button-minute" id="idupm" aria-label="Increase Minute"
                                type="button">
                            <span class="icon-up"></span>
                        </button>
                        <button class="btnMinDown button-minute" id="iddownm" aria-label="Decrease Minute"
                                type="button">
                            <span class="icon-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endif %}
<script>
    {% if not disabled and is_date %}

        $('#{{ key }}-date_in').datepicker({
            weekDayFormat: 'narrow',
            inputFormat: ["{{ client_format }}"],
            outputFormat: '{{ client_format }}',
            {% if min %}
                min: '{{ min }}',
            {% endif %}

            {% if max %}
                max: '{{ max }}',
            {% endif %}

            {% if next %}
                previous: '#{{ next }}-date_in',
            {% endif %}

            {% if previous %}
                previous: '#{{ previous }}-date_in',
            {% endif %}

        });

    {% endif %}

</script>

