
<div class="form-group {% if hidden %} d-none {% endif %} {{ customClass or '' }}" id="{{ key }}">

    <div class="form-check {{ customClass }} {% if inline %} form-check-inline {% endif %} ">
        <input type="radio" name="{{ id }}_ck" id="{{ key }}{{ id }}_ck"
                {% if required %} required {% endif %}
                {% if value %} checked {% endif %}
                {% if disabled %} disabled {% endif %}
               value="{{ value }}"
        >
        <label for="{{ key }}{{ id }}_ck">{{ label|safe }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</label>
    </div>
</div>

