
<div class="{{ fgroupgp or 'form-group' }} {% if hidden %} d-none {% endif %} {{ cls or '' }}" id="{{ key }}">
    <button type="{{ type }}" name="{{ key }}_btn" class="btn {{ customClass or 'btn-outline-primary' }}"
            {% if formaction %}
            formaction="{{ formaction }}"
            {% endif %}
            {% if datalocation %}
            data-location="{{ datalocation }}"
            {% endif %}
            {% if dataid %}
            data-id="{{ dataid }}"
            {% endif %}
            {% if disabled %} disabled {% endif %}
    >
        {% if icon %}
            <svg class="icon">
                <use href="/static/svg/sprite.svg#{{ icon }}"></use>
            </svg>
            <span>{{ label }}</span>
        {% else %}
            {{ label }}
        {% endif %}
    </button>
</div>