
<li>
    <a href="#">
        <div class="it-right-zone">
            <span class="text">{{ key }}</span>
            <span class="it-multiple">
                <div class="metadata  chip-primary w-25">
                    <span class="chip-label">{{ request }}</span>
                </div>
                <div class=" metadata  chip-primary ml-5 w-25">
                    <span class="chip-label">{{ expiring }}</span>
                </div>
                <div class="metadata  chip-primary ml-5 w-25">
                    <span class="chip-label">{{ expired }}</span>
                </div>
            <svg class="icon icon-primary icon-right">
                <use xlink:href="/static/svg/sprite.svg#it-chevron-right"></use>
            </svg>

            </span>

        </div>

    </a>
</li>