<div class="row">
    <a href="{{ content }}" class="text-decoration-none {% if hidden %} d-none {% endif %}  {{ customClass }}"
            {% if target %} target="{{ target }}" {% endif %}
    >
        {% if direction and direction=='left' %}
            <svg class="icon icon-sm icon-primary mr-2">
                <use xlink:href="/static/svg/sprite.svg#it-arrow-{{ direction }}"></use>
            </svg>
        {% endif %}
        {{ label|safe }}
        {% if direction and direction=='right' %}
            <svg class="icon icon-sm icon-primary mr-2">
                <use xlink:href="/static/svg/sprite.svg#it-arrow-{{ direction }}"></use>
            </svg>
        {% endif %}
    </a>
</div>
