<style>

       {{ key | cssid }} figure.table {
            margin: 0 auto;
            margin-block: 0 auto;
            margin-inline: 0 auto;
        }
       {{ key | cssid }} figure.table table{
            width: 100%;
        }

</style>
<div class="{% if not no_fgroup %} form-group {% endif %} {% if hidden %} d-none {% endif %} {{ customClass }}"
     id="{{ key }}">
    <div class="{{ customClass }}" id="{{ key }}_div">
        {{ html | safe }}
    </div>
    <textarea class="d-none" id="{{ key }}_in" name="{{ key }}_in" readonly
    >{{ html }}</textarea>
    <span class="sr-only">{{ html }}</span>
    <span class="sr-only">{{ label }}</span>
    {% if desc %}
        <small class="form-text text-muted">{{ desc | safe }}<span class="sr-only">{{ desc }}</span></small>

    {% endif %}

</div>