<div class="form-group {% if hidden %} d-none {% endif %} {{ customClass }}" id="{{ key }}">
    {% if desc %}
        <small class="form-text text-muted">{{ desc | safe }}<span class="sr-only">{{ desc }}</span></small>
    {% endif %}
    <div class="document-editor form-group">
        <div id="toolbar-{{ key }}-container" class="document-editor__toolbar"></div>
        <!-- This container will become the editable. -->
        <div class="document-editor__editable-container">
            <div id="{{ key }}_in" class="document-editor__editable">
                {{ html | safe }}
            </div>
        </div>
    </div>

</div>

<script>

    DecoupledEditor.create(document.querySelector('#{{ key }}_in'))
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-{{ key }}-container');

            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            window.formeditor = {
                field: '{{ key }}',
                "editor": editor
            }

        })
        .catch(error => {
            console.error(error);
        });

</script>