<div class="form-check {% if hidden %} d-none {% endif %} {{ customClass }}">
    <div class="toggles mb-3">
        <label for="{{ key }}_tl">
            {{ label|safe }}
            <input type="checkbox" name="{{ key }}_tl" id="{{ key }}_tl"
                    {% if required %} required {% endif %}
                    {% if value %} checked {% endif %}
                    {% if readonly %} readonly {% endif %}
                    {% if disabled %} disabled {% endif %}
            >
            <span class="lever"></span>
        </label>
        {% if desc %}
            <small class="form-text text-muted mt-n3">{{ desc }}</small>
        {% endif %}
    </div>
</div>
