<html>
<head>
    {% block head %}
        <title>INRiM {{ app_name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Pragma" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/static/favicon/favicon.ico">
        <meta name="theme-color" content="#0066CC">
        {#
    <meta http-equiv="refresh" content="{{ period if period else 3600 }}">
    #}
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="/static/css/project.css">
            <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-italia.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/material_blue.css">
            {#
        <link rel="stylesheet" type="text/css" href="/static/css/sticky-footer.css">
        #}
            <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
            <link rel="stylesheet" href="/static/jQuery-QueryBuilder/css/query-builder.default.css">
            {#    <link rel="stylesheet" href="/static/jQuery-QueryBuilder/css/query-builder.dark.css">#}
            <link rel="stylesheet" type="text/css" href="/static/qr/css/qrcode-reader.min.css"/>
            <link rel="stylesheet" href="/static/jsonEditor/jsoneditor.min.css"/>

        {% endblock %}
    {% endblock %}
</head>
<body>
{% block script %}
    <script nonce="2726c7f26c">window.__PUBLIC_PATH__ = "/static/fonts"</script>
    <script type="text/javascript" src="/static/js/bootstrap-italia.bundle.min.js" nonce="2726c7f27c"></script>
    <script type="text/javascript" src="/static/DataTables/datatables.min.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/qr/js/qrcode-reader.min.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/moment/moment-with-locales.min.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/js/flatpickr.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/js/flatpickr_it.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/jquery_plugin/jquery.validate.min.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/jQuery-QueryBuilder/js/query-builder.standalone.js"
            nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/jQuery-QueryBuilder/js/query-builder.js" nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/jQuery-QueryBuilder/i18n/query-builder.it.js"
            nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/jsonEditor/jsoneditor.min.js" nonce="2726c7f26c"></script>

    <script type="text/javascript"
            src="/static/jquery_plugin/jquery.inputmask.min.js"
            nonce="2726c7f26c"></script>
    <script type="text/javascript" src="/static/js/ckeditor.js" nonce="2726c7f26c"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block loader %}
    <style>
        #global_progress_loader {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            z-index: 21;
            width: 100%;
        }

        .ozon-progress-global {
            height: 5px;
            background-color: #ffffff;
        }

        .ozon-progress-global .progress-bar {
            #background-color: #673AEC;
        }

        .error {
            width: auto;
            position: relative !important;
            color: red;
        }


        .alert-danger {
            background-position: 20px 7px;
            margin-bottom: 2rem;
        }

        div.dropdown-menu {
            width: max-content;
        }
    </style>
    <div class=" d-none" id="global_progress_loader">
        <div class="progress progress-indeterminate ozon-progress-global">
            <span class="sr-only">In elaborazione...</span>
            <div class="progress-bar" role="progressbar"></div>
        </div>
    </div>
    <script>
        window.formJsonEditor = false;
        window.formeditor = false;
    </script>
{% endblock %}
<main class="mt-1">
    {% block content %}{% endblock %}
</main>
{% block footer %}
{% endblock %}

<script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">

    $(document).on('click', "a", function (e) {
        var form = $(this).closest('form').get(0);
        if (!form) {
            if ($(this).attr('href') !== '#' && !$(this).attr('href').includes("blob")) {
                $(document).unbind("click");
                $("#global_progress_loader").removeClass("d-none");
            }
        }
    });

    function gotolink(link) {
        window.location.href = link;
    }

    function clean_key_id(field_id) {
        return field_id.replace(/_in([^_in]*)$/, '')
            .replace(/_lt([^_lt]*)$/, '')
            .replace(/_tl([^_tl]*)$/, '')
            .replace(/_ck([^_ck]*)$/, '')
            .replace(/_sel([^_sel]*)$/, '');
    }

    function jsonForm(form_name) {
        var form = document.getElementById(form_name);
        //console.log($(form).serialize())
        var formData = new FormData(form);
        var obj = Object.fromEntries(
            Array.from(formData.keys()).map(key => [
                clean_key_id(key), formData.getAll(key).length > 1 ? formData.getAll(key) : formData.get(key)]));
        return obj;
    }

    function dataForm(form_name, inputfiles) {
        var form = document.getElementById(form_name);
        var jsonform = jsonForm(form_name)
        if (window.formJsonEditor && window.formJsonEditor.options.hasOwnProperty("editable")) {
            jsonform[window.formJsonEditor.options.field] = window.formJsonEditor.get()
        }
        if (window.formeditor) {
            jsonform[window.formeditor.field] = window.formeditor.editor.getData();
        }
        var fileArr = [];
        var formData = new FormData();
        if (inputfiles) {
            var i = 0, len = inputfiles.length;
            for (; i < len; i++) {
                var filed = inputfiles[i];
                var lenfile = filed.files.length;
                if (lenfile > 0) {
                    name = clean_key_id(filed.name)
                    formData.append("" + name, filed.files[0]);
                }

            }
        }
        formData.append('formObj', JSON.stringify(jsonform));

        return formData;
    }

    function close_modal() {
        $('#FormModal').modal('hide');
        $("#global_progress_loader").removeClass("d-none");
        $(document).find("input").prop('readonly', true);
        $('#btn_submit').prop('disabled', true);
        window.location.reload();
    }

    function execute_ajax(
        req_type, req_url, obj, loader = "loader", form, nojson, callback) {
        var data_to_send = JSON.stringify(obj);
        var Content_Type = "application/json";
        var is_async = true;
        var processData = true;
        var focused = document.activeElement;
        if (nojson) {
            data_to_send = obj;
            Content_Type = false;
            processData = false;
        }
        $.ajax({
            type: req_type,
            url: req_url,
            headers: {
                {% if security_headers %}
                    {% for k,v in security_headers.items() %}
                        "{{ k }}": "{{ v }}",
                    {% endfor %}
                {% endif %}
            },
            async: is_async,
            cache: false,
            contentType: Content_Type,
            processData: processData,
            data: data_to_send,
            beforeSend: function () {
                $("#" + loader).removeClass("d-none");
                if (form) {
                    $('#' + form + "_alert").empty();
                    $('#' + form + "_alert").hide();
                    $('#' + form + " select, input:checkbox, input:radio").prop('readonly', true);
                    $('#btn_submit').prop('disabled', true);
                }
            },
            error: function (e) {
                $("#" + loader).addClass("d-none");
                if (form) {
                    $('#' + form + " :input").prop('readonly', false);
                    $('#btn_submit').prop('disabled', false);
                }
                alert("Errore Interno contattare Helpdesk", e);
            },
            success: function (result) {

                if ((result.hasOwnProperty('link')) && result.reload) {
                    if (result.link === "#") {
                        if (callback) {
                            callback();
                        }else{
                            window.location.reload();
                        }

                    } else {
                        if (callback) {
                            callback(result.link);
                        } else {
                            gotolink(result.link);
                        }

                    }
                } else if (result.hasOwnProperty('status')) {
                    if (result.status === "error") {
                        alert("error");
                    }
                    $("#" + loader).addClass("d-none");
                    if (form) {
                        $('#' + form + " :input").prop('readonly', false);
                        $('#btn_submit').prop('disabled', false);

                    }
                } else {
                    if (result.hasOwnProperty('body')) {
                        var modal_container = $("#modal_ph");

                        var html = result.body;
                        modal_container.html(html);
                        $('#FormModal').modal('show');
                        $("#" + loader).addClass("d-none");
                    }

                    if (!result.hasOwnProperty('link') && !result.hasOwnProperty('body')) {
                        for (var item in result) {
                            $(result[item].selector).replaceWith(result[item].value);
                            $(result[item].value).find("select, textarea, input").focus({preventScroll: true});
                            $(result[item].value).find("select, textarea, input").blur();
                            //$(result[item].selector).load(location.href + " "+ result[item].selector,"");
                        }
                        if (!(result.hasOwnProperty('link'))) {
                            for (var item in result) {
                                if (result[item].selector.includes('alert')) {
                                    var yc = $(result[item].selector).offset().top;
                                    $("html, body").animate({scrollTop: yc}, "slow");
                                    break;
                                }
                            }
                        }
                        //  $(focused).focus();
                    }

                    $("#" + loader).addClass("d-none");
                    if (form) {
                        $('#' + form + " select, input:checkbox, input:radio").prop('readonly', false);
                        $('#btn_submit').prop('disabled', false);
                    }
                }


            },
        });
    }

    var config = {
        extendAliases: {
            label: {regex: "((\d{2})?[-](\d{6}))"},
            "url": {
                definitions: {
                    "i": {
                        validator: ".",
                        cardinality: 1
                    }
                },
                mask: "(\\http\\s://)|(\\http://)|(ftp\\s://)|(ftp://)|(\\ldap\\s:)|(\\ldap:)i{+}",
                insertMode: false,
                autoUnmask: false
            },
            'sci': {
                alias: 'numeric',
                radixPoint: '.',
                groupSeparator: '',
                autoGroup: true,
                placeholder: ''
            },
            'numericit': {
                alias: 'numeric',
                digits: '*',
                radixPoint: '.',
                groupSeparator: ',',
                autoGroup: true,
                placeholder: ''
            },
            'currency': {
                alias: 'numericit',
                digits: '*',
                digitsOptional: true,
                radixPoint: ',',
                groupSeparator: '.',
                autoGroup: true,
                placeholder: ''
            },
            'euro': {
                alias: 'currency',
                prefix: '',
                suffix: ' €',
                radixPoint: ',',
                groupSeparator: '',
                autoGroup: false,
            },
            'euroComplex': {
                alias: 'currency',
                prefix: '',
                suffix: ' €',
            },
            mac: {
                casing: "lower",
            },
        }
    };

    Inputmask.extendAliases(config.extendAliases);

    moment.locale("it");

    DecoupledEditor.defaultConfig = {
        toolbar: {
            items: [
                'heading',
                '|',
                'fontfamily',
                'fontsize',
                'fontColor',
                'fontBackgroundColor',
                '|',
                'bold',
                'italic',
                'underline',
                'strikethrough',
                '|',
                'alignment',
                '|',
                'numberedList',
                'bulletedList',
                '|',
                'indent',
                'outdent',
                '|',
                'link',
                'blockquote',
                //'imageUpload',
                'insertTable',
                // 'mediaEmbed',
                '|',
                'undo',
                'redo'
            ]
        },
        image: {
            styles: [
                'full',
                'alignLeft',
                'alignRight'
            ],
            toolbar: [
                'imageStyle:alignLeft',
                'imageStyle:full',
                'imageStyle:alignRight',
                '|',
                'imageTextAlternative'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells',
                'tableProperties',
                'tableCellProperties'
            ]
        },
        language: 'it'
    };

    var client_id = Date.now()


    {% block js %}

    {% endblock %}
</script>
</body>
</html>
