<header class="it-header-wrapper mt-0">
    <div class="it-nav-wrapper">
        <div class="it-header-center-wrapper theme-light border-bottom it-small-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="it-header-center-content-wrapper ">
                            <div class="it-brand-wrapper">
                                <a href="/">
                                    <figure class="figure mt-3">
                                        <img class="figure-img img-fluid"
                                             src="{{ logo_img_url or "/static/img/logo.png" }}"
                                             style="width:70%;"/>
                                    </figure>
                                    <div class="it-brand-text ml-1">
                                        <h2 class="no_toc">{{ app_name }}</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="it-right-zone">
                                {% if test_env %}
                                    <div class="it-search-wrapper text-right">

                                        <figure class="figure mt-1">

                                            <img class="figure-img img-fluid" src="/static/img/staging.png"
                                                 style="width:10%;"/>

                                        </figure>
                                        <span class="ml-2 d-none d-md-block">{{ env }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="it-header-navbar-wrapper bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--start nav-->
                    <nav class="navbar navbar-expand-lg ">
                        <button class="custom-navbar-toggler" type="button" aria-controls="nav2" aria-expanded="false"
                                aria-label="Toggle navigation" data-target="#nav2">
                            <svg class="icon">
                                <use xlink:href="/static/svg/sprite.svg#it-burger"></use>
                            </svg>
                        </button>
                        <div class="navbar-collapsable" id="nav2" style="display: none;">
                            <div class="overlay" style="display: none;"></div>
                            <div class="close-div sr-only">
                                <button class="btn close-menu" type="button"><span class="it-close"></span>close
                                </button>
                            </div>
                            <div class="menu-wrapper bg-dark">
                                <ul class="navbar-nav">
                                    <li class="bg-dark  mt-2 mt-lg-0">
                                        <a href="/" class="bg-dark btn-full">
                                            <span class="rounded-icon">
                                              <svg class="icon icon-light">
                                                <use xlink:href="/static/svg/sprite.svg#it-pa"></use>
                                              </svg>
                                            </span>
                                        </a>
                                    </li>
                                    {% if menu_headers %}
                                        {% for item in menu_headers %}

                                            {{ item |safe }}

                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <div class="it-header-right-zone mt-5 mt-sm-0">
                                    <div class="nav-item">
                                        <a href="{% if login_act %} {{ login_act }} {% else %} /login {% endif %}"
                                           class="btn-full no-line bg-dark">
                                            {% if login_user %}
                                                {% if avatar %}
                                                    <div class="avatar text-light mr-2  size-sm" href="#">
                                                        <img src="{{ avatar }}" alt="">
                                                    </div>
                                                {% else %}
                                                    <div class="avatar mr-2">
                                                        <svg class="icon size-sm">
                                                            <use xlink:href="/static/svg/sprite.svg#it-user"></use>
                                                        </svg>
                                                    </div>
                                                {% endif %}

                                            {% else %}
                                                <div class="avatar mr-2">
                                                    <svg class="icon">
                                                        <use xlink:href="/static/svg/sprite.svg#it-user"></use>
                                                    </svg>
                                                </div>
                                            {% endif %}

                                            <span class=" text-light">{% if login_user %} {{ login_user }} {% else %}
                                                Accedi {% endif %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>