<style>
    #{{ key }}
    .card:after {
        margin-top: 10px;
    {% if  fast_search_active %}
        margin-bottom: -30px;
    {% endif %}
    }

    #{{ key }}
    .card-title {
        min-height: 25px;
    }
</style>
{% if  fast_search_active %}
    <div class="card-wrapper card-space fast_search py-3 {% if hidden %} d-none {% endif %} " id="{{ fast_search_model  }}">
{% else %}
    <div class="card-wrapper card-space {% if hidden %} d-none {% endif %}  mb-4" id="{{ key }}">
{% endif %}
<div class="card {% if collapsible %} card-bg collapse-header {% endif %} {{ customClass_card }}">

    <a class="w-100 list-group-item-light p-0"
            {% if collapsible %} data-toggle="collapse"  {% endif %}
       data-target="#{{ key }}_collapse"
       aria-expanded="true"
       aria-controls="{{ key }}_collapse">
        <span class="sr-only">{{ label|safe }}</span>
        {% if collapsible %}
            <h6 class="card-title text-white bg-dark p-2 mb-4  {{ tit_customClass }}">
                {% if not hideLabel %} {{ label | safe }}{% endif %}
            </h6>
        {% endif %}

    </a>

    <div id="{{ key }}_collapse"
         class="card-body p-1 {{ customClass }}
             {% if collapsible %}  {% if not folded %} show collapse {% else %} collapse {% endif %}{% endif %}
           {% if not fast_search_active %} py-4 {% endif %}
        ">
        {% for component in items %}
            {{ component.render(size=width)|safe }}
        {% endfor %}
    </div>
</div>

</div>
<script>
    {% if  fast_search_active %}
        // $(document).on('change', "#{{ model }} select, textarea, input", function (e) {
        $(document).on('change', "#{{ fast_search_model  }} select, textarea, input", function (e) {
            console.log("change event triggered using the id! " + this.id);
            //e.preventDefault();
            var self=this;

            if (!$(self).data("no_change") && self.id) {
                var Content_Type = "application/json";
                var data_obj = {};
                $("#{{ fast_search_model  }}").find("input[name],select[name],textarea[name]").each(function(item) {
                    if($(this).serialize() && $(this).serialize() !== ''){
                        var key = clean_key_id($(this).attr("id"));
                        data_obj[key] = $(this).val();
                    }
                });
                var key = clean_key_id(self.id)
                var obj = {
                    "fast_serch_model": "{{ fast_search_model  }}",
                    "data": data_obj,
                    "field": key
                };

                var data_to_send = JSON.stringify(obj);
                if (obj) {
                    $.ajax({
                        type: "POST",
                        url: "/client/fast_search",
                        headers: {
                            {% if security_headers %}
                                {% for k,v in security_headers.items() %}
                                    "{{ k }}": "{{ v }}",
                                {% endfor %}
                            {% endif %}
                        },
                        async: true,
                        cache: false,
                        contentType: Content_Type,
                        processData: true,
                        data: data_to_send,
                        beforeSend: function () {
                            $("#global_progress_loader").removeClass("d-none");
                        },
                        error: function (e) {
                            $("#global_progress_loader").addClass("d-none");
                            alert("Errore Interno contattare Helpdesk", e);
                        },
                        success: function (result) {
                            var fast_query = result.query;
                            if (typeof fast_query === 'string' || fast_query instanceof String) {
                                fast_query = JSON.stringify(eval("(" + fast_query + ")"));
                                fast_query = JSON.parse(fast_query);
                            }
                            if (!(Object.keys(fast_query).length === 0)) {
                                $('#{{ search_area_key }}_qbuilder').queryBuilder('setRulesFromMongo', fast_query);
                                search_data_{{ search_area_key }}();
                            }
                            $("#global_progress_loader").addClass("d-none");
                        }
                    });
                }
            }
        });
    {% endif %}
</script>