[Unit]
Description=App Clean Reccords

[Timer]
Unit=clean-records.service
# https://silentlad.com/systemd-timers-oncalendar-(cron)-format-explained
#every 1 hour
OnCalendar=*-*-* *:10:00



[Install]
WantedBy=timers.target

