<div id="{{ key }}" class="row owl-height pt-1 {% if hidden == True %} d-none {% endif %}">
    {% if not hideLabel and not hidden %}
        {% if label  and not label == "Columns" %}
            <p class="font-weight-bold {{ customClass }}">
                {{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</p>
        {% endif %}
    {% endif %}
    {% for component in items %}
        {{ component.render(log=False)|safe }}
    {% endfor %}
</div>

{% if alertname %}
    <div id="{{ alertname }}" class=" {{ customClass }}"></div>
{% endif %}

{% if divider %}
    <div class="border-top {{ divider }}"></div>
{% endif %}

{% block js %}{% endblock %}