<style>
    .card:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .card.dashboard:after {
        margin-top: 6% !important;
    }

    .card.dashboard {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        display: flex;
        align-content: center;
        background: #fff;
        height: 100%;
    }

    .card-body.dashboard {
        padding: 30px;

    }

    .card-title {
        margin-bottom: 2rem;
    }
</style>
<div class="{{ cls }}  mb-2" id="card_{{ component_id }}">

    <div class="card dashboard  card-bg {{ card_cls }} rounded   ">
        <div class="card-body dashboard">
            {% if items %}
                <div class="menu container">
                    {{ items|safe }}
                </div>
            {% endif %}
            <div class="card-title-container">
                <h4 class="card-title  {{ tit_cls or "text-center" }}"
                        {% if menul|int > 6 %}
                    style="margin-top:30%!important;">{{ title }}
                        {% else %}
                    style="margin-top:14%!important;">{{ title }}
                        {% endif %}
                </h4>
                {% if sub_title %}
                    <h5 class="{{ text_cls or "text-center" }}">{{ sub_title or '' }}</h5>
                {% endif %}
            </div>
            <div class="read-more">
            </div>
        </div>
    </div>

</div>

{% if items and is_mobile %}
    <script type="application/javascript">
        $("#card_{{ component_id }}").click(function () {
            $("#{{ component_id }}").toggleClass('hover');
        });
    </script>
{% endif %}