<style>
    .card:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .card.card-bg.dashboard {
        margin-left: 0px !important;
        margin-right: 0px !important;
        background: #fff;
        border-right: none;
    }

    .card-title {
        margin-bottom: 3rem;
    }
</style>
<div class="{{ cls }}  " id="{{ model }} ">
    <article class="card-space ozon-card py-md-1">
        <div class="card card-bg {{ card_cls }} dashboard h-75">
            <div class="card-body ">
                <h4 class="card-title {{ tit_cls or "text-center" }}">{{ title }}</h4>
                {% if sub_title %}
                    <h5 class="{{ text_cls or "text-center" }}">{{ sub_title or '' }}</h5>
                {% endif %}
                {% if items %}
                    <div class="read-more">
                        {{ items|safe }}
                    </div>
                {% endif %}
            </div>
        </div>

    </article>
</div>
