<div class="{{ customClass }}">
    <article class="card-space">
        <div class="card card-bg {{ card_customClass }}">
            <div class="card-body">
                <h4 class="card-title {{ tit_customClass }}">{{ title }}</h4>
                {% if value %}
                    <h5 class="{{ text_customClass }}">{{ value or '' }}</h5>
                {% endif %}
                {% if btnitems %}
                    <div class="read-more">
                        {% for component in items %}
                            {{ component.render('', '', log=False)|safe }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </article>
</div>