
<div class="container">
    <div class="row">
        <div class="col-7">
            <span class=" d-block d-md-inline-block "><b>ADDETTI</b></span>
            <a href="{{asppulr}}" class="d-block d-md-inline-block {% if not asppulr %} d-none {% endif %}">
                <img id="ppex" src="/static/img/pp.png" style="height: 30px;"
                     class="d-md-inline-block mr-1">AS<b>PP</b>
            </a>

            <a href="{{sanulr}}" class="d-block mt-1 d-md-inline-block {% if not sanulr %} d-none {% endif %}">
                <img id="ppsx" src="/static/img/s.png" style="height: 30px;"
                     class="mh-100 ml-1 mr-1 d-md-inline-block">EM. <b>S</b>ANITARIA
            </a>
            <a href="{{defulr}}" class="d-block mt-1 d-md-inline-block {% if not defulr %} d-none {% endif %}">
                <img id="ppdx" src="/static/img/d.png" style="height: 30px;"
                     class=" mh-100 ml-1 mr-1 d-md-inline-block"><b>D</b>EFIBRILLATORE
            </a>
            <a href="{{fireulr}}" class="d-block mt-1 d-md-inline-block {% if not fireulr %} d-none {% endif %}">
                <img id="ppax" src="/static/img/a.png" style="height: 30px;"
                     class=" mh-100 ml-1 mr-1 d-md-inline-block"><b>A</b>NTINCENDIO
            </a>
        </div>
        <div class="col-5">
            <span class="d-block mt-1 d-md-inline-block"><b>DAE</b></span>
            <a href="{{daecacc}}" class="d-block mt-1 d-md-inline-block {% if not fireulr %} d-none {% endif %}"
               target="_new">
                <img id="ppadaecx" src="/static/img/dae.png" style="height: 30px;"
                     class=" mh-100 ml-1 mr-1 d-md-inline-block">Campus Cacce
            </a>
            <a href="{{daeaz}}" class="d-block mt-1 d-md-inline-block {% if not fireulr %} d-none {% endif %}"
               target="_new">
                <img id="ppdaeax" src="/static/img/dae.png" style="height: 30px;"
                     class=" mh-100 ml-1 mr-1 d-md-inline-block">Campus M. D'Azeglio
            </a>
        </div>
    </div>

</div>
<!--</div>-->