<style>
    .bootstrap-select-wrapper .dropdown.bootstrap-select .btn {
        height: auto;
    }

    .bootstrap-select-wrapper .dropdown.bootstrap-select.show-tick .filter-option .filter-option-inner-inner .select-pill {
        padding: 4px 4px;
        margin-top: 1px;
    }


    .bootstrap-select-wrapper .dropdown.bootstrap-select .dropdown-menu[x-placement=top-start] {
        z-index: 20;
    }

</style>
<div class="bootstrap-select-wrapper {% if hidden %} d-none {% endif %} {{ customClass }}" id="{{ key }}">
    <label>{{ label }}</label>
{#    value {{ value }}#}
    <select data-live-search="true" data-boundary="window"
            id="{{ key }}_sel"
            name="{{ key }}_sel"
            data-live-search-placeholder="Sel. "
            {% if required %} required="required" {% endif %}
            {% if disabled %} disabled {% endif %}
            {% if readonly %} readonly {% endif %}
            multiple="true" data-multiple-separator=""
    >

        <option value=""  {% if not value %} selected {% endif %}>--</option>
        {% for item in options %}

            <option value="{{ item['value'] }}"
                    data-content="<span class='select-pill'><span class='select-pill-text'>{{ item['label'] }}</span></span>"
                    {% if item['value']|string in value %} selected {% endif %}
            ></option>
        {% endfor %}

    </select>
    <script type="text/javascript">
        $("#{{ key }}_sel").selectpicker({
            actionsBox: true
        });

        $("#{{ key }}_sel").off('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

            $(this).closest('div').find(".filter-option-inner-inner").addClass("d-flex flex-wrap");
            console.log("#{{ key }}_sel changed.bs.select")


        });


    </script>
</div>
