<style>
    #{{ key }}.bootstrap-select-wrapper .dropdown.bootstrap-select .btn {
        height: auto;
    }

    #{{ key }}.bootstrap-select-wrapper .dropdown.bootstrap-select.show-tick .filter-option .filter-option-inner-inner .select-pill {
        padding: 4px 4px;
        margin-top: 1px;
    }


    #{{ key }}.bootstrap-select-wrapper .dropdown.bootstrap-select .dropdown-menu[x-placement=top-start] {
        z-index: 20;
        top: calc(-100% - -30px) !important;
        overflow: auto !important;
        width: auto !important;
    }


    #{{ key }}.bootstrap-select-wrapper .dropdown.bootstrap-select .dropdown-menu[x-placement=bottom-start] {
        z-index: 20;
        bottom: calc(-100% - 46px) !important;
        overflow: auto !important;
        width: auto !important;
    }

    #{{ key }}.bootstrap-select-wrapper button .filter-option .filter-option-inner-inner {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

</style>
<div class="bootstrap-select-wrapper {% if hidden %} d-none {% endif %} {{ customClass }}" id="{{ key }}">
    <label>{{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</label>
    {#    value {{ value }}#}
    <select data-live-search="true" data-boundary="window"
            id="{{ key }}_sel"
            name="{{ key }}_sel"
            data-live-search-placeholder="Sel. "
            {% if required %} required="required" {% endif %}
            {% if disabled %} readonly {% endif %}
            {% if readonly %} readonly {% endif %}
            multiple="true" data-multiple-separator=""
            class="{% if readonly or disabled %} disable-toggle-all {% endif %}"
    >

        <option value=""
                {% if value|string == "" %}selected{% elif readonly or disabled %}disabled{% endif %}>--
        </option>
        {% for item in options %}

            <option value="{{ item['value'] }}"
                    data-content="<span class='select-pill'><span class='select-pill-text'>{{ item['label'] }}</span></span>"
                    {% if item['value']|string in value %} selected
                    {% elif readonly or disabled %}disabled{% endif %}
            ></option>
        {% endfor %}

    </select>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#{{ key }}_sel").selectpicker({
                actionsBox: true
            });
            {% if readonly or disabled %}
                $("#{{ key }}_sel").on('shown.bs.select', function () {
                    $("#{{ key }}").find("a.dropdown-item.selected").each(function () {
                        $(this).on("click", function (e) {
                            e.preventDefault();
                            e.stopPropagation();
                        });
                    });
                    $("#{{ key }}").find('.bs-actionsbox').remove();
                });


            {% endif %}
        });

        {#$("#{{ key }}_sel").on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {#}
        {#$(this).closest('div').find(".filter-option-inner-inner").addClass("d-flex flex-wrap");#}
        {##}
        {#})
        #}


    </script>
</div>
