<style>
    {{ key|cssid }}.bootstrap-select-wrapper .dropdown.bootstrap-select .btn {
        height: auto;
    }

    {{ key|cssid }}.bootstrap-select-wrapper .dropdown.bootstrap-select.show-tick .filter-option .filter-option-inner-inner .select-pill {
        padding: 4px 4px;
        margin-top: 1px;
    }


    {{ key|cssid }}.bootstrap-select-wrapper .dropdown.bootstrap-select .dropdown-menu[x-placement=top-start] {
        z-index: 20;
        top: calc(-100% - -30px) !important;
        bottom: auto !important;
        overflow: auto !important;
        width: auto !important;
    }


    {{ key|cssid }}.bootstrap-select-wrapper .dropdown.bootstrap-select .dropdown-menu[x-placement=bottom-start] {
        z-index: 20;
        bottom: auto !important;
        overflow: auto !important;
        width: auto !important;
    }

    {{ key|cssid }}.bootstrap-select-wrapper button .filter-option .filter-option-inner-inner {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }




</style>
<div class="form-group bootstrap-select-wrapper {% if hidden %} d-none {% endif %} {{ customClass }}"
     id="{{ key }}">
    <label>{{ label }}{% if required %}
        <span class="h5 text-danger">*</span>{% endif %}</label>
    <select class="custom-select"
            data-live-search="true"
            data-boundary="window"
            id="{{ key }}_sel"
            name="{{ key }}_sel"
            data-dropup-auto="false"
            data-live-search-placeholder="Cerca "
            {% if required %} required {% endif %}
            {% if readonly %} readonly {% endif %}
            {% if disabled %} readonly {% endif %}

    >

        <option value=""
                {% if value|string == "" %}
                selected
                {% elif readonly or disabled %}
                disabled
                {% endif %}
        >--
        </option>
        {% for item in options %}
            {{ item['value']|string }}
            <option value="{{ item['value'] }}"
                    {% if (item['value']|string == value) %}
                    selected
                    {% else %}
                        {% if readonly or disabled %}
                    disabled
                        {% endif %}
                    {% endif %}
            >
                {{ item['label'] }}</option>
        {% endfor %}
    </select>
    {% if desc %}
        <small class="form-text text-muted">{{ desc | safe }}</small>
    {% endif %}

    <script type="text/javascript">

        $("#{{ key }}_sel").selectpicker({
            dropupAuto: false,
            size: '4'
        });

        {%  if disabled or readonly %}
            $("button[data-id='{{ key }}_sel']").addClass("select_diabled");
            $("button[data-id='{{ key }}_sel']").attr("disabled", true);
        {% endif %}


    </script>

</div>

