<style>
    .is-open {
        display: block;
        z-index: 1070;
    }
</style>
<div class="{{ customClass }} {% if hidden %} d-none {% endif %} ">

    <div class=" it-datepicker-wrapper" id="{{ key }}">
        <div class=" flatpickr {{ fgroupgp or 'form-group input-group' }} " id="{{ key }}_wrap">
            <label for="{{ key }}_in">{{ label }}</label>
            <span class="sr-only">Data {{ label }}</span>
            <input class=" flatpickr-input form-control it-date-datepicker result"
                   id="{{ key }}_in" name="{{ key }}_in" {% if value %} value="{{ value }}" {% endif %}
                   type="text"
                   placeholder="{{ client_format }}"
                    {% if disabled %} disabled {% endif %}
                    {% if required %} required {% endif %}
                   data-input>

            {% if not disabled %}
                <div class="input-group-append">
                    <button class="btn btn-xs btn-outline-dark btn-iccon" type="button" id="{{ key }}-clear" data-clear>
                        <svg class="icon icon-sm icon-danger">
                            <use xlink:href="/static/svg/sprite.svg#it-close"></use>
                        </svg>
                        <span class="sr-only">Pulisci Data </span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>


</div>
<script>
    {% if not disabled  %}
        $('#{{ key }}_wrap').flatpickr({
            dateFormat: '{{ client_format }}',
            enableTime: {{ is_time | tojson }},
            enableDate: {{ is_date | tojson}},
            altInput: '{{ client_format }}',
            locale: 'it',
            wrap: true,
            {% if is_date %}
                weekNumbers: true,
            {% endif %}
            {% if is_time and not is_date %}
                noCalendar: true,
            {% endif %}

            {% if min %}
                minDate: '{{ min }}',
            {% endif %}

            {% if max %}
                maxDate: '{{ max }}',
            {% endif %}
        });


    {% endif %}

</script>

