<div class=" {% if inline %} form-inline {%  else %} col {% endif %} {% if hidden %} d-none {% endif %}" id="{{ key }}">
    {% if label %}

        <h6 class="mt-1 {{ tit_customClass }}">
            {{ label }}{% if required %} <span class="h5 text-danger">*</span>{% endif %}</h6>
    {% endif %}
    {% for item in rows %}
        <div class="form-check {{ item.customClass }}  {% if inline %} form-check-inline {% endif %} ">
            <input type="radio" name="{{ key }}" id="{{ key }}-{{ item.value }}"
                    {% if item.required %} required {% endif %}
                    {% if item.value==value %} checked {% endif %}
                    {% if disabled %} disabled {% endif %}
                   value="{{ item.value }}"
            >
            <label for="{{ key }}-{{ item.value }}">{{ item.label|safe }}</label>
        </div>
    {% endfor %}
</div>
