[Unit]
Description=Main Scheduler Timer

[Timer]
Unit=main-scheduler.service
# https://silentlad.com/systemd-timers-oncalendar-(cron)-format-explained
# every 5 second start 60s after boot
OnBootSec=60s
AccuracySec=1us
OnUnitActiveSec=3s


[Install]
WantedBy=timers.target

