<style>
    .gridRows.row.column {
        padding-right: 0px !important;
        padding-left: 0px;
    }

    .car_row_bg {
        background-color: #e9e6f261 !important;
    }
</style>
<div id="{{ key }}"
     class=" row p-1 align-items-baseline rounded car_row_bg mb-2 gridRow">
    <div class="col-11 gridRows">
        {% for component in items %}
            {{ component.render(log=False)|safe }}
        {% endfor %}
    </div>
    <div class="{{ parent_key }} col-1 remove_row d-none "
         data-row_id="{{ key }}">
        {% if not disabled or not readonly %}
            <button type="button" class="btn btn-danger btn-xs btn-icon"
                    onclick="{{ parent_key }}_removeRow({{ key }})">
                <span class="rounded-icon rounded-danger">
                    <svg class="icon icon-white"><use
                            href="/static/svg/sprite.svg#it-close-circle"></use></svg>
                </span>
                <span class="sr-only">Rimuovi Riga</span>
            </button>
        {% endif %}
    </div>
</div>
