<style>
    .toolbar.dashboard {
        height: 2rem;
    }

    .toolbar.dashboard > #{{ component_id }} > li.dashboard-item  > a.active {
        color: #06c;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
    }

    ul#{{ component_id }} .toolbar-badge {
        min-width: 18px;
        height: auto !important;
        right: auto;
        color: #fff;
        font-size: 0.866rem;
        border-radius: 8px;
        font-style: normal;
        margin-top: 10px;
    }

    .toolbar.dashboard:before {
        content: unset;
    }


    .toolbar.dashboard > #{{ component_id }} > li.dashboard-item {
        flex: 1 1 15%;
        background-color: ghostwhite;
        margin: 0px;
        border-radius: 6px;
        padding: 8px;

    }

    ul#{{ component_id }}.dashboard-menu.hover > li.dashboard-item {
        flex: 1 1 30%;
        border-radius: 1px;
        transition: linear .1s;
        padding: 8px;
    }

    ul#{{ component_id }}.dashboard-menu > li.dashboard-item > a > span.toolbar-label {
        margin-top: 2px;
    }

    ul#{{ component_id }}.dashboard-menu.hover > li.dashboard-item > a > span.toolbar-label {
        font-size: 0.866rem;
        margin-top: 2px;
    }

    ul#{{ component_id }}.dashboard-menu.hover .toolbar-badge {
        font-size: 0.966rem;
    }

    .toolbar.dashboard > #{{ component_id }}.dashboard-menu {
        background: white;
        align-items: stretch;
        z-index: 1 !important;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    li.dashboard-item > a {
    {#display: inline-block;#} min-width: 40px;
    }

</style>


{% if list_actions %}

    <nav class="toolbar dashboard" style="position: inherit!important;">
        <ul class="dashboard-menu" id="{{ component_id }}">
            {% for rows in list_actions %}
                {% for item in rows %}
                    {% if item['mode'] == "list" %}

                        <li data-action_type="{{ item['action_type'] }}" data-mode="{{ item['mode'] }}"
                            class="dashboard-item ">

                            <a href="{{ item['content'] }}" class="active ">

                                <div class="badge-wrapper">
                                    <span class="toolbar-badge">{{ item['number'] }}</span></div>
                                <svg class="icon">
                                    {% if item['icon'] == ""  or item['icon'] == "fa-plus" %}
                                        <use xlink:href="/static/svg/sprite.svg#it-list"></use>
                                    {% else %}
                                        <use xlink:href="/static/svg/sprite.svg#{{ item['icon'] }}"></use>
                                    {% endif %}
                                </svg>
                                <span class="toolbar-label">
                                   {% if item['action_type'] == "window" %} {{ item['label'] }} {% else %}
                                       Lista {% endif %}
                                </span>
                            </a>
                        </li>
                    {% endif %}

                    {% if item['mode'] == "form" %}
                        <li data-action_type="{{ item['action_type'] }}" data-mode="{{ item['mode'] }}"
                            class="dashboard-item ">
                            <a href="{{ item['content'] }}" class="active">
                                <svg class="icon">
                                    <use xlink:href="/static/svg/sprite.svg#it-plus-circle"></use>
                                </svg>
                                <span class="toolbar-label">{{ item['label'] }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if not is_mobile %}
                <li data-action_type="more" data-mode=""
                    class="dashboard-item dashboard-more">
                    <a href="#" class="active ">
                        <svg class="icon dashboard-more-icon">
                            <use xlink:href="/static/svg/sprite.svg#it-zoom-in"></use>
                        </svg>
                        <svg class="icon dashboard-out-icon d-none">
                            <use xlink:href="/static/svg/sprite.svg#it-zoom-out"></use>
                        </svg>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endif %}

<script type="application/javascript">
    {% if not is_mobile %}
        $("#{{ component_id }} li.dashboard-more").click(function (e) {
            e.preventDefault();
            $(this).closest("#{{ component_id }}").toggleClass('hover');
            $(this).find('.dashboard-more-icon').toggleClass('d-none');
            $(this).find('.dashboard-out-icon').toggleClass('d-none');
        });
    {% endif %}
</script>