<style>
    .bottom-nav .bottom-nav-badge {
        top: 0px;
        right: -21px;
        min-width: 18px;
        height: auto !important;
        padding: 0 10px;
        color: #fff;
        font-size: 0.966rem;
        border-radius: 8px;
        font-style: normal;
    }
</style>
<nav class="bottom-nav" style="position: inherit!important;height: 70px!important;">
    <ul class="dashboard-menu" style="z-index: 1!important;background-color: ghostwhite;">

        {% for item in list_actions %}

            {% if item['mode'] == "list" %}
                <li>
                    <a href="{{ item['content'] }}" class="active">
                        <div class="badge-wrapper">
                            <span class="bottom-nav-badge">{{ item['number'] }}</span></div>
                        <svg class="icon">
                            <use xlink:href="/static/svg/sprite.svg#it-list"></use>
                        </svg>
                        <span class="bottom-nav-label">Lista</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ item['content'] }}" class="active">
                        <svg class="icon">
                            <use xlink:href="/static/svg/sprite.svg#it-plus-circle"></use>
                        </svg>
                        <span class="bottom-nav-label">{{ item['label'] }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
