<div class=" {{ cls }} {% if hidden %} d-none {% endif %} " id="{{ key }}"
        {{ groupgp or '' }}
>
    <button type="{{ type }}"
            id="{{ key }}_btn_id"
            name="{{ key }}_btn"
            class="btn {{ customClass or 'btn-outline-primary' }}"
            {% if formaction %} formaction="{{ formaction }}" {% endif %}
            {% if datalocation %}
            data-location="{{ datalocation }}" {% endif %}
            {% if dataid %} data-id="{{ dataid }}" {% endif %}
            {% if disabled %} disabled {% endif %}
            {% if readonly %} disabled {% endif %}

    >
        <span class="sr-only">{{ label }}</span>
        {% if leftIcon %}
            <svg class="icon" width="24" height="24">
                <use href="/static/svg/sprite.svg#{{ leftIcon }}"></use>
            </svg>
            <span>{{ label }}</span>
        {% elif rightIcon %}
            <svg class="icon" width="24" height="24">
                <use href="/static/svg/sprite.svg#{{ rightIcon }}"></use>
            </svg>
            <span>{{ label }}</span>
        {% else %}
            {{ label }}
        {% endif %}
    </button>

    <script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
        $(document).ready(function () {

            {% if  btn_action_type and not hidden and not disabled %}
                let obj = jsonForm("{{ model }}");
                console.log("btn call {{ key }}");
                {% if  open_modal %}
                    obj = {
                        "related_action": {
                            "url": "{{ url_action }}",
                            "todo": "{{todo}}",
                            "default_fields": "{{ default_fields |json }}"
                        }
                    };
                {% else %}
                    $("#{{ key }}_btn_id").on('click', function (e) {
                        e.preventDefault(); // disable the POST of the form by the submit button
                        execute_ajax("{{ btn_action_type }}", "{{ url_action }}", obj);

                    });
                {% endif %}
            {% endif %}

        });
    </script>
</div>