<div class=" {{ cls }} {% if hidden %} d-none {% endif %} " id="{{ key }}"
        {{ groupgp or '' }}
>
    <button type="{{ type }}"
            id="{{ key }}_btn_id"
            name="{{ key }}_btn"
            class="btn {{ customClass or 'btn-outline-primary' }}"
            {% if formaction %} formaction="{{ formaction }}" {% endif %}
            {% if datalocation %} data-location="{{ datalocation }}" {% endif %}
            {% if dataid %} data-id="{{ dataid }}" {% endif %}

            {% if disabled %} disabled {% endif %}
            {% if readonly %} disabled {% endif %}

    >
        <span class="sr-only">{{ label }}</span>
        {% if leftIcon %}
            <svg class="icon">
                <use xlink:href="/static/svg/sprite.svg#{{ leftIcon }}"></use>
            </svg>
            <span>{{ label }}</span>
        {% elif rightIcon %}
            <svg class="icon">
                <use xlink:href="/static/svg/sprite.svg#{{ rightIcon }}"></use>
            </svg>
            <span>{{ label }}</span>
        {% else %}
            {{ label }}
        {% endif %}
    </button>

    <script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
        $(document).ready(function () {

            {% if  btn_action_type and btn_action_type=="post" and not hidden and not disabled %}
                {%  if type_action and type_action == "client" %}
                    $("#{{ key }}_btn_id").on('click', function (e) {
                        e.preventDefault(); // disable the POST of the form by the submit button
                        // disable the POST of the form by the submit button
                        let obj = jsonForm("{{ model }}");
                        let key = clean_key_id(this.id);
                        if (obj) {
                            execute_ajax(
                                "POST", "{{ url_action }}/{{  rec_name }}?field=" + key,
                                '{{ authtoken }}', '{{ req_id }}', obj, "global_progress_loader", "{{ model }}"
                            );

                        }
                    });
                {% else %}
                    $("#{{ key }}_btn_id").on('click', function (e) {
                        e.preventDefault(); // disable the POST of the form by the submit button
                        // disable the POST of the form by the submit button
                        inputfiles = $("input:file");
                        if ($("#{{ model }}").valid()) {
                            let obj = dataForm("{{ model }}", inputfiles);
                            execute_ajax(
                                "POST", "{{ url_action }}", '{{ authtoken }}',
                                '{{ req_id }}', obj, "global_progress_loader", "{{ model }}", true
                            );
                        }
                    });
                {% endif %}
            {% endif %}
        });
    </script>
</div>